# Стандартные файлы Android Studio и Gradle
.gradle
.idea
*.iml
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
.cxx/
*.keystore
*.jks

# Локальный кэш Gradle
.gradle/

# Файлы сборки
app/build/
app/*/build/

# Логи и временные файлы
*.log
*.hprof
*.pyc
*.swp
Thumbs.db

# Файлы настроек ОС
*.DS_Store
.AppleDouble
.LSOverride

# Файлы Firebase/Google Services (если используете)
google-services.json # Замените на актуальный, если нужны исключения

# Файлы Crashlytics (если используете)
com_crashlytics_export_strings.xml

# Исключение папки release (если есть)
app/release/